!!!5
html
  head
    title My first Node Blog
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/prettify/prettify.css')
  body
    nav 
    section#main
      header
        block header
          h1 
            a(href='/',title='Time Machine')
              img(src='/images/logo.png')
          p.quote 
      section#content
        block content 
    footer
      block footer
        p copyright rlog.cn
        script(src='/javascripts/jquery-1.7.2.min.js')
        script(src='/prettify/prettify.js')
        script(src='/javascripts/common.js')
