extends base

block content 
  - if (articles.length)
      - each article in articles
        - var pdate = new Date(article.created_at); 
        - var fdate = pdate.getYear() +'-'+ pdate.getMonth() +'-'+ pdate.getDate();
        article
          aside 
            p.date= fdate
            p.tags
              a #css #js #html
            p.share twitter,facebook,douban
          .post
            h3
              a(href="post/#{article._id}")= article.title
            .content!= md(article.body)
  - else
    p There is no blog, please 
      a(href="new") ADD 
