extends base

block content 
  - if (typeof(articles) === "Array")
      - each article in articles
        article
          aside 
            p.date= article.formatDate 
            p.tags
              a #css #js #html
            p.share twitter,facebook,douban
          .post
            h3
              a(href="post/#{article._id}")= article.title
            .content!= md(article.body)
  - else
    p There is no blog, please 
