!!!5
html
  head
    title Node Blog Admin
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/markitup/skins/markitup/style.css')
    link(rel='stylesheet', href='/markitup/sets/markdown/style.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src='http://localhost:35729/livereload.js?snipver=1')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/admin/") NBlog Admin
          .nav-collapse
            ul.nav
              li
                a(href="/admin/list") List
              li
                a(href="/admin/new") New Post 
              li
                a(href="/admin/help") Help 
            p.navbar-text.pull-right
              a(href="/") SeeBlog

    .container
      h2= title 
      .row
        .span10
          block main
        .span2
          block bar

    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/markitup/jquery.markitup.js')
    script(type='text/javascript', src='/markitup/sets/markdown/set.js')
    script(type='text/javascript', src='/javascripts/admin.js')
