!!!5
html
  head
    title Node Blog Admin
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/admin/") NBlog Admin
          .nav-collapse
            ul.nav
              li
                a(href="/admin/post/list") List
              li
                a(href="/admin/post/new") New Post
              li
                a(href="/admin/setting") Setting 
              li
                a(href="/admin/help") Help
            p.navbar-text.pull-right
              a(href="/") BLOG

    .container
      h2= title
      .row
        .span12
          block main

    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/jquery.upload.js')
    script(type='text/javascript', src='/javascripts/admin.js')
