extends ./base

block main 
  - if (articles.length)
    table.table
      - each article in articles
        - var pdate = new Date(article.created_at); 
        - var fdate = pdate.getYear() +'-'+ pdate.getMonth() +'-'+ pdate.getDate();
        tr
          td
            a(href="/post/#{article._id}", target="_blank")= article.title
          td.op
            a.btn.btn-mini(href="/admin/post/edit/#{article._id}") 编辑
            a.btn.btn-mini(href="/admin/post/hide/#{article._id}") 隐藏
            a.btn.btn-mini.btn-danger(href="/admin/post/del/#{article._id}") 删除
  - else
    p There is no blog!

block bar 
  p
    a.btn.btn-large.btn-primary(href="/admin/post/new") 添加文章
