extends ./base

block main
	form.form-horizontal(method='post', action="/admin/new")
		fieldset
			.control-group
				label.control-label 标题：
				.controls
					input(name='title', type="text")
			.control-group
				label.control-label 内容：
				.controls
					textarea(name='body')

			.form-actions
				input.btn.btn-primary(type="submit")
				button.btn cancel

block bar
p 123
