extends ./base

block main
  form.form-horizontal#new-post(method='post', action="/admin/new")
    fieldset
      .control-group
        label.control-label 标题：
        .controls
          input(name='title', type="text")
      .control-group
        label.control-label 内容：
        .controls
          textarea(name='body')
      .control-group
        label.control-label 标签：
        .controls
          input(name='tags', type="text")

block bar
  .well
    p
      button.btn#post-save 草稿
      button.btn#post-preview 预览
    p
      button.btn.btn-primary#post-publist 发布
