extends ../base

block content
  h2= tit
  #new
    form(method='post', action="new")
      p Title:
        input#editArticleTitle(type="text", name="title")
      p
        textarea#editArticleBody(name="body", rows="15")
      p
        input.bt(type="submit", value="POST")
