!!!5
html
  head
    title My first Node Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://localhost:35729/livereload.js?snipver=1')
  body
    nav 
    section#main
      header
        block header
          h1 
            a(href='/') Time Machine
          p.quote 
      section#content
        block content 
    footer
      block footer
        p copyright rlog.cn
