extends base

block content 
  - if (articles.length)
      - each article in articles
        - var pdate = new Date(article.created_at); 
        - var fdate = pdate.getYear() +'-'+ pdate.getMonth() +'-'+ pdate.getDate();
        article
          aside 
            span= fdate
          .post
            h3
              a(href="post/#{article._id}")= article.title
            .content 她认为自己是反叛的，生活在商业化的香港，并非容易事。“香港好像没有什么特别反叛的女性的吧？她们都很了解：如果不妥协的话，可能就会没有工作。尤其对‘老女人’来说，就更加困难了”，叶德娴自知，“我朋友没有太多，我机会没有别人多，因为我不能妥协太多，我从来不觉得这是什么挫折，在这个商业社会，这是应该的，纯属个人选择。”
  - else
    p There is no blog, please 
      a(href="new") ADD 
