html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0 auto;
  background:#fff;
  line-height:1;
  color:#5d534b;
}
input, textarea {
	border:1px solid #aaa;
	padding:3px
}
a {
    -moz-transition: all 0.18s ease-in 0s;
    -webkit-transition: all 0.18s ease-in 0s;
    color: #888;
    text-decoration: none;
}
a:hover {
    background-color: #5d534b;
    color: #FFFFFF;
}

/*layout*/
nav {
  height:30px;
  background:#333;
  display: none;
}

#main {
  width:980px;
  margin:0 auto;
}

header { 
  margin:50px 0 70px;
  zoom:1;
  overflow:hidden;
}
header h1 {
  font-size:40px;
}
header h1 a{
  float:left;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-family: "Times New Roman";
  color:#333;
}
header h1 a:hover {
  background:none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
}
footer {
  height:100px;
  background:#333;
}

h2.big_tit {
  font-size: 24px;
  margin-bottom: 40px;
}
h2.big_tit strong{
  font-weight: bold;
  color:#06c;
}
/* mod */
article { 
  zoom:1;
  overflow: hidden;
  margin-bottom:50px;
}

article aside{ 
  float: left;
  width: 172px;
  text-align:right;
  padding-top:45px;
  font-size:12px;
  color:#aaa;
}
article aside a{ 
  color: #aaa;
}
article aside a:hover{ 
  color: #fff;
  background-color: #aaa;
}
article aside p{ 
  line-height:2em;
}
article h3, article h3 a{ 
  font-size:24px;
  margin-bottom:20px;
}
article .post{ 
  float:right;
  zoom:1;
  overflow: hidden;
  width:778px;
}
article .post .content{ 
  line-height:1.8em;
}

/* post style */
.post .content h1 {font-size:22px; font-weight:bold; margin: 20px 0 10px;}
.post .content h2 {font-size:20px; font-weight:bold; margin: 20px 0 10px;}
.post .content h3 {font-size:18px; font-weight:bold; margin: 20px 0 10px;}
.post .content h4 {font-size:16px; font-weight:bold; margin: 20px 0 10px;}
.post .content h5 {font-size:13px; font-weight:bold; margin: 20px 0 10px;}
.post .content h6 {font-size:12px; font-weight:bold; margin: 20px 0 10px;}
.post .content p {margin-bottom: 20px;}
.post .content p a {padding:0 2px;}
.post .content ul {list-style: decimal outside none; padding-left:30px;} 
.post .content ol {list-style: disc outside none; padding-left:30px;}
.post .content em, .post .content strong {font-weight: bold;}
.post .content code {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    font-family: Monaco,Consolas,"BitStream Vera Sans Mono","Courier New",Courier;
    font-size:13px;
}
.post .content pre {
    background-color: #f7f7f7;
    border: 1px solid #fff;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    margin-bottom:20px;
    font: 13px/1.6 Monaco,Consolas,"BitStream Vera Sans Mono","Courier New",Courier;
}

#comment {padding-left:202px;}
#comment h3 {font-size:24px; margin:20px 0;}
#comment .list {margin-bottom:50px;}
#comment .comment {margin-bottom:25px; overflow:hidden; zoom:1;}
#comment .comment .date {color:#aaa; font-size:12px; font-style:italic; padding-left:10px;}
#comment .comment img {float:left; margin-right:10px;}
#comment .comment div {overflow:hidden; zoom:1;}
#comment .comment div p {line-height:1.5em; margin-top:8px;}
#comment .new {}
#comment .new .txt, 
#comment .new textarea {
  border:1px solid #ccc;
  padding:3px;
  margin-top:5px;
  width:200px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#comment .new .txt { 
  font-family: Monaco,Consolas,"BitStream Vera Sans Mono","Courier New",Courier;
  font-weight: bold;
  font-size: 14px;
}
#comment .new textarea {
  width:500px;
  font-size:13px;
}
#comment .new .txt:hover, 
#comment .new textarea:hover {
  border:1px solid #aaa;
}
#comment .new p {margin-bottom: 15px;}
#comment .new p label {display:block;}


/* ...... */
a.lbt {
	color: #DDD;
	font-size:12px;
	text-decoration:none;
	padding:1px;
}
a.lbt:hover {
	color: #fff;
	background:#f00;
}

.bt {
    background: #3c8ae0;
    background: -webkit-gradient(linear, left top, left bottom, from(#3d92e6), to(#3a7fd6));
    background: -moz-linear-gradient(top,  #3d92e6,  #3a7fd6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d92e6', endColorstr='#3a7fd6');
    -moz-box-shadow: 0 1px 0 #77B4EE inset;
    -webkit-box-shadow: 0 1px 0 #77B4EE inset;
    -o-box-shadow: 0 1px 0 #77B4EE inset;
    box-shadow: 0 1px 0 #77B4EE inset;
    border: 1px solid #35649d;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 4px 10px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #204877;
    text-decoration: none !important;
    vertical-align: middle;
    border-radius: 3px 3px 3px 3px;
}

.bt:hover {
    background: #0f64d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#3685e1), to(#3574ce));
    background: -moz-linear-gradient(top,  #3685e1,  #3574ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3685e1', endColorstr='#3574ce');
    -moz-box-shadow: 0 1px 0 #589be7 inset;
    -webkit-box-shadow: 0 1px 0 #589be7 inset;
    -o-box-shadow: 0 1px 0 #589be7 inset;
    box-shadow: 0 1px 0 #589be7 inset;
}

.bt:active {
    background: #0f64d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#3685e1), to(#3574ce));
    background: -moz-linear-gradient(top,  #3685e1,  #3574ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3685e1', endColorstr='#3574ce');
    -moz-box-shadow: 0 1px 2px #145fb5 inset;
    -webkit-box-shadow: 0 1px 2px #145fb5 inset;
    -o-box-shadow: 0 1px 2px #145fb5 inset;
    box-shadow: 0 1px 2px #589be7 inset;
}
